<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jxufe.dao.mysql.FileMapper">
  <resultMap id="BaseResultMap" type="cn.jxufe.beans.model.File">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_size" jdbcType="REAL" property="fileSize" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="is_directory" jdbcType="BIT" property="isDirectory" />
    <result column="is_star" jdbcType="BIT" property="isStar" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="parent_url" jdbcType="VARCHAR" property="parentUrl" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="modify_user_id" jdbcType="INTEGER" property="modifyUserId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
  </resultMap>

</mapper>