<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jxufe.dao.mysql.PermissionMapper">
  <resultMap id="BaseResultMap" type="cn.jxufe.beans.model.Permission">
    <id column="perm_id" jdbcType="INTEGER" property="permId" />
    <result column="perm_name" jdbcType="VARCHAR" property="permName" />
    <result column="perm_url" jdbcType="VARCHAR" property="permUrl"/>
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_user_id" jdbcType="INTEGER" property="modifyUserId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
  </resultMap>
  <sql id="Base_Column_List">
    perm_id, perm_name, perm_url, create_user_id, create_date, modify_user_id, modify_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_Permission
    where perm_id = #{permId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tab_Permission
    where perm_id = #{permId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jxufe.beans.model.Permission">
    insert into tab_Permission (perm_id, perm_name, create_user_id, 
      create_date, modify_user_id, modify_date
      )
    values (#{permId,jdbcType=INTEGER}, #{permName,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=INTEGER}, #{modifyDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.jxufe.beans.model.Permission">
    insert into tab_Permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permId != null">
        perm_id,
      </if>
      <if test="permName != null">
        perm_name,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyUserId != null">
        modify_user_id,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permId != null">
        #{permId,jdbcType=INTEGER},
      </if>
      <if test="permName != null">
        #{permName,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jxufe.beans.model.Permission">
    update tab_Permission
    <set>
      <if test="permName != null">
        perm_name = #{permName,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where perm_id = #{permId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jxufe.beans.model.Permission">
    update tab_Permission
    set perm_name = #{permName,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where perm_id = #{permId,jdbcType=INTEGER}
  </update>
</mapper>