<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jxufe.dao.mysql.RolePermMapper">
  <resultMap id="BaseResultMap" type="cn.jxufe.beans.model.RolePerm">
    <id column="role_perm_id" jdbcType="INTEGER" property="rolePermId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="perm_id" jdbcType="INTEGER" property="permId" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_user_id" jdbcType="INTEGER" property="modifyUserId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
  </resultMap>
  <sql id="Base_Column_List">
    role_perm_id, role_id, perm_id, create_user_id, create_date, modify_user_id, modify_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_RolePerm
    where role_perm_id = #{rolePermId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tab_RolePerm
    where role_perm_id = #{rolePermId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jxufe.beans.model.RolePerm">
    insert into tab_RolePerm (role_perm_id, role_id, perm_id, 
      create_user_id, create_date, modify_user_id, 
      modify_date)
    values (#{rolePermId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{permId,jdbcType=INTEGER}, 
      #{createUserId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=INTEGER}, 
      #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.jxufe.beans.model.RolePerm">
    insert into tab_RolePerm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rolePermId != null">
        role_perm_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="permId != null">
        perm_id,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyUserId != null">
        modify_user_id,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rolePermId != null">
        #{rolePermId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="permId != null">
        #{permId,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jxufe.beans.model.RolePerm">
    update tab_RolePerm
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="permId != null">
        perm_id = #{permId,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where role_perm_id = #{rolePermId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jxufe.beans.model.RolePerm">
    update tab_RolePerm
    set role_id = #{roleId,jdbcType=INTEGER},
      perm_id = #{permId,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where role_perm_id = #{rolePermId,jdbcType=INTEGER}
  </update>
</mapper>